@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #5100ff;
  --color-background-light: #f6f5f8;
  --color-background-dark: #150f23;

  --font-display: "Inter", "sans-serif";

  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px; /* Ensure rounded-full works if not default */
}

@layer base {
  .material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }
}
